NODE_ENV = development

PORT = 5003

TOKEN_EXPIRE_MAX = 30d
TOKEN_EXPIRE_MIN = 24h

JWT_SECRET_ADMIN =
JWT_SECRET_CLIENT =
JWT_SECRET_API =

DB_USERNAME =
DB_PASSWORD =
DB_NAME =
DB_HOST =
DB_PORT =

PROD_DB_USERNAME =
PROD_DB_PASSWORD =
PROD_DB_NAME =
PROD_DB_HOST =

CHPL_API_URL =
ONEONEZA_API_URL =
MYOPERATOR_API_URL =
MYOPERATOR_RECORDINGS_URL =

GRAPH_API_URL =

CLOUDFLARED_URL =

CORS_ALLOW_TENNAT_URL =
TENANT_VERIFY_TOKEN =

GMAIL_CLIENT_ID =
GMAIL_CLIENT_SECRET =

GROQ_API_KEY =
GROQ_API_URL =
GROQ_API_MODEL_FAST =
GROQ_API_MODEL_ACCURATE =

SENDGRID_API_KEY =
