NODE_ENV = development

PORT = 5003

TOKEN_EXPIRE_MAX = 30d
TOKEN_EXPIRE_MIN = 24h

JWT_SECRET_ADMIN = @_+CHPL$_+22+_$POS$_+04+_$Admin$_+2024+_@
JWT_SECRET_CLIENT = @_+CHPL$_+22+_$POS$_+04+_$Client$_+2024+_@
JWT_SECRET_API = @_+CHPL$_+22+_$POS$_+04+_$Api$_+2024+_@

SENDGRID_EMAIL = 
SENDGRID_API_KEY = 

RAZORPAY_KEY = 
RAZORPAY_SECRET = 
RAZORPAY_WEBHOOKS_SECRET = 

STRIPE_PUBLISH_KEY = 
STRIPE_SECRET_KEY = 
STRIPE_WEBHOOKS_SECRET =

CHPL_API_URL = https://dev.my-company.app/crmApi
ONEONEZA_API_URL = https://app.11za.in/apis/template/sendTemplate
MYOPERATOR_API_URL = https://obd-api.myoperator.co/obd-api-v1
MYOPERATOR_RECORDINGS_URL = https://developers.myoperator.co

GRAPH_API_URL = https://graph.facebook.com/v20.0

CLOUDFLARED_URL = https://nainesh.chplgroup.org/

CORS_ALLOW_TENNAT_URL=https://master.my-company.app/
TENANT_VERIFY_TOKEN=27d1d93849b1a391004dfe311268d38d38daeaccfe96690bc311631b6c818ef2

GMAIL_CLIENT_ID=780363352700-sin903h1eauqhlhngclm5l7i4q40ip0e.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=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
