# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# Environment files
!.env.sample
!env.sample
!.env.production

# Logs
*.log
access-logs/

# Uploads
uploads/

# Misc
.DS_Store
.eslintcache
!.vscode/extensions.json
config.bat
