# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.sample
!env.sample

# Logs
*.log
access-logs/

# Uploads
uploads/

# Misc
.DS_Store
.eslintcache
.vscode/*
!.vscode/extensions.json
